@import "../../styles/global";

.home {
  display: flex;
  flex-direction: column;
  .tab-sliders-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  .dash-line {
    margin: 50px auto;
    background-image: linear-gradient(
      to right,
      $primary 55%,
      rgba(255, 255, 255, 0) 50%
    );
    background-position: bottom;
    background-size: 3% 2px;
    background-repeat: repeat-x;
    width: 95%;
    height: 2px;
  }
  @include media(desktop-sm) {
    .tab-sliders-wrapper {
      grid-template-columns: auto auto;
    }
  }
  @include media(tablet-sm) {
    .tab-sliders-wrapper {
      grid-template-columns: auto;
    }
  }
}
