@import "../../styles/global";

.cart-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > h1 {
    color: $gray;
    margin-bottom: 30px;
  }
  .cart-box {
    max-width: 95%;
    width: 1300px;
    background-color: $white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 2px solid rgba(109, 109, 109, 0.2);
    padding: 15px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-content {
    width: 100%;
    thead {
      tr {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      th {
        &:nth-child(1) {
          width: 50%;
          text-align: left;
        }
        &:nth-last-child(1) {
          margin-inline-end: 13%;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(1) {
          td {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .cart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
    th {
      color: $gray;
    }
  }

  .line-separator {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: $gray;
    display: block;
    &:nth-child(2) {
      margin-bottom: 25px;
    }
    &:nth-child(3) {
      margin-top: 25px;
    }
  }
  .cart-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    .continue-shopping,
    .checkout-btn {
      white-space: nowrap;
      background-color: rgba($primary, 1);
      position: relative;
      padding: 5px 25px;
      color: $white;
      font-size: 18px;
      font-weight: 600;
      height: max-content;
      border-radius: 10px;
      padding-inline-start: 45px;
      border: inherit;
      box-shadow: inherit;
      &:hover {
        opacity: 0.9;
      }
      span {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
        border: 8px solid transparent;
        border-right: 16px solid $white;
      }
    }
    .checkout-btn {
      background-color: #2ecc71;
      padding-inline-start: 25px;
      padding-inline-end: 45px;
      span {
        border-right: 8px solid transparent;
        border-left: 16px solid $white;
        right: 5px;
        left: unset;
      }
    }
    .total-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-inline-start: auto;
      margin-inline-end: 60px;
      h3 {
        color: $gray;
        font-size: 26px;
      }
      h4 {
        font-size: 24px;
        margin-inline-start: 15px;
      }
    }
  }

  /*********************************/
  @include media(desktop-sm) {
    padding-bottom: 50px;
    .cart-box {
      width: 95%;
    }
  }
  /*********************************/
  @include media(tablet-lg) {
    padding: 40px 0;
    .cart-box {
      padding: 15px;
      width: 95%;
    }
    .cart-header {
      display: none;
    }
    .cart-content {
      .line-separator {
        display: none;
      }
    }
  }
  /*********************************/
  @include media(tablet-sm) {
    .line-separator {
      display: none;
    }
    .cart-footer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      & > div {
        margin: 5px;
      }
      .total-container {
        order: 1;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .checkout-btn {
        order: 3;
        padding: 5px 45px 5px 30px;
      }
      .continue-shopping {
        order: 2;
      }
    }
  }
  /*********************************/
  @include media(phone-lg) {
    .cart-footer {
      gap: 20px;
      .checkout-btn,
      .continue-shopping {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .checkout-btn {
        order: 2;
      }
      .continue-shopping {
        order: 3;
      }
    }
  }
  /*********************************/
  @include media(phone-sm) {
    .cart-footer {
      .checkout-btn {
        order: 2;
        padding: 5px 45px 5px 30px;
        width: 100%;
        text-align: center;
      }
      .continue-shopping {
        order: 3;
        width: 100%;
        text-align: center;
      }
    }
  }
}
