@import "../../styles/global";

.category-item-container {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba($color: $black, $alpha: 0.2);
  position: relative;
  height: 350px;
  width: auto;
  background: linear-gradient($secondary 60%, $primary 100%);
  transition: 0.3s ease;
  &:hover {
    
    box-shadow: 0px 8px 30px rgba($color: $primary, $alpha: 0.6);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
  .products-sum {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px 0 12px 0;
    background: linear-gradient($white -60%, $gray 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    padding: 10px 15px;
  }
  .img-container {
    height: 75%;
    img {
      height: 100%;
    }
  }
  .item-footer{
    height: 25%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
