:root {
  --primary: #425970;
  --secondary: rgba(1, 57, 94, 1);
}

@import "global";

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > div:nth-last-child(1) {
    padding-top: 120px;
  }
}

