@import "global";

.cart-item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .img-container {
    border-radius: 8px;
    overflow: hidden;
    height: 150px;
    width: 15%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product-content {
    margin-left: 20px;
    width: 40%;
  }
  .price,
  .quantity-container,
  .subtotal,
  .delete-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
  .quantity-container {
    button {
      background-color: $primary;
      border: none;
      width: 35px;
      height: 35px;
      min-width: 35px;
      color: $white;
      font-size: 30px;
      line-height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      cursor: pointer;
      &:nth-child(1) {
        margin-right: 10px;
      }
      &.plus {
        margin-left: 10px;
      }
      &:hover {
        opacity: 0.95;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .delete-container {
    & > div {
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-color: $white;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border: 2px solid rgba(109, 109, 109, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.95);
      }
    }
    img {
      width: 15px;
    }
  }

  /*******************************/
  @include media(desktop-lg) {
  }
  /*******************************/
  @include media(desktop-sm) {
  }
  /*******************************/
  @include media(tablet-lg) {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    .img-container {
      flex: 1;
      flex-basis: 40%;
    }
    .product-content {
      flex: 2;
      flex-basis: 50%;
    }
  }
  /*******************************/
  @include media(tablet-sm) {
    justify-content: space-evenly;
    border-bottom: 2px solid $gray;
    padding-bottom: 15px;

    .img-container {
      flex-basis: 100%;
    }
    .product-content {
      flex-basis: 100%;
    }

  }
  /*******************************/
  @include media(phone-lg) {
    justify-content: space-around;
    & > div {
      order: 1
    }
    .subtotal {
      order: 2;
      flex-basis: 100%;
      font-weight: 500;
      font-size: 20px;
    }
  }
  /*******************************/
  @include media(phone-sm) {
  }
  /*******************************/
}
