@import "global";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  height: 120px;
  background-color: $white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  .logo-container {
    height: 100px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
  .nav-container {
    margin-right: auto;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      margin-right: 30px;
      font-size: 18px;
      font-weight: 500;
      color: $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      span {
        display: block;
        width: 0;
        opacity: 0.5;
        height: 2px;
        background-color: $gray;
        border-radius: 10px;
        transition: 0.3s ease-in;
      }
      &:hover {
        span {
          width: 100%;
          opacity: 0.9;
        }
      }
      .more-links {
        position: absolute;
        right: -18px;
        img {
          width: 10px;
        }
      }
    }
  }
  .cart-icon-container {
    margin-inline-end: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(
      120deg,
      rgba($color: $brown, $alpha: 1) 0%,
      rgba($color: $lightBrown, $alpha: 1) 180%
    );
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(0.9);
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.9);
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .number-on-cart {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      border-radius: calc(20px / 2);
      background-color: $gray;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 12px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    }
    img {
      width: 25px;
    }
  }
  .btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.visible {
      display: flex;
    }
    img {
      width: 50px;
      color: $white;
    }

    & > div {
      margin-right: 80px;
    }

    .auth-btn {
      background: linear-gradient(
        150deg,
        rgba($color: $brown, $alpha: 1) 0%,
        rgba($color: $lightBrown, $alpha: 1) 150%
      );
      border-radius: 10px;
      padding: 5px 15px;
      height: 40px;
      margin-right: 20px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        opacity: 0.9;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
      a {
        color: $white;
        font-size: 18px;
        white-space: nowrap;
      }
    }
    .lang-btn-container {
      @extend .auth-btn;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        opacity: 0.95;
      }
      &:active {
        transform: none;
      }
      span {
        display: block;
        border: 6px solid transparent;
        border-top: 8px solid $white;
        position: relative;
        top: 5px;
        margin-right: 8px;
      }
      p {
        color: $white;
      }
      img {
        width: 25px;
        height: 25px;
        border-radius: calc(25px / 2);
        object-fit: cover;
        margin-left: 10px;
      }
    }
  }
  .search-container {
    .search-icon {
      background: linear-gradient(
        150deg,
        rgba($color: $brown, $alpha: 1) 0%,
        rgba($color: $lightBrown, $alpha: 1) 150%
      );
      width: 55px;
      height: 55px;
      justify-content: center;
      align-items: center;
      color: $white;
      display: none;
      border-radius: 50%;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      font-size: 22px;
      cursor: pointer;
      transition: 0.2s ease;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    .search-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      input {
        border: 1.5px solid $brown;
        border-right: none;
        border-radius: 10px 0 0 10px;
        font-size: 16px;
        padding: 0 15px;
        display: inline-block;
        height: 38px;
        width: 250px;
        &:focus {
          outline: none;
        }
      }
      button {
        outline: none;
        background: linear-gradient(
          150deg,
          rgba($color: $brown, $alpha: 1) 20%,
          rgba($color: $lightBrown, $alpha: 1) 200%
        );
        border: none;
        padding: 0 15px;
        height: 38px;
        font-size: 20px;
        color: $white;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .burger-menu {
    display: none;
    order: 6;
    width: 55px;
    height: 45px;
    border: 2px solid $brown;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    background: linear-gradient(
      150deg,
      rgba($color: $brown, $alpha: 1) 0%,
      rgba($color: $lightBrown, $alpha: 1) 150%
    );
    svg {
      width: 100%;
      height: 100%;
      color: $white;
    }
    &:hover {
      background: $white;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      svg {
        color: $brown;
      }
    }
    &:active {
      transition: none;
      transform: scale(0.9);
    }
  }

  /****************************/
  @include media(desktop-sm) {
    .logo-container {
      order: 1;
    }
    .nav-container {
      order: 2;
      margin-right: auto;
    }
    .search-container {
      grid-area: search;
      margin-inline-end: 40px;
      order: 4;
      position: relative;
      .search-icon {
        display: flex;
      }
      .search-bar {
        display: none;
        @include box-animate;
        position: absolute;
        background-color: $white;
        padding: 20px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        bottom: -100px;
        &.visible {
          display: flex;
        }
        &::after {
          content: "";
          position: absolute;
          top: -20px;
          border: 10px solid transparent;
          border-bottom-color: $brown;
          z-index: -1;
          filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
        }
      }
    }
    .cart-icon-container {
      order: 3;
      margin-inline-start: auto;
    }
    .btns-container {
      order: 5;
    }
  }
  /****************************/
  @include media(tablet-lg) {
    position: relative;
    .burger-menu {
      display: flex;
    }
    .btns-container {
      display: none;
      justify-content: center;
      position: absolute;
      z-index: 8;
      background-color: $white;
      bottom: -70px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      padding: 20px;
      border-radius: 12px;
      @include box-animate;
      right: 20px;
      &::after {
        content: "";
        position: absolute;
        top: -20px;
        right: 25px;
        border: 10px solid transparent;
        border-bottom-color: $brown;
        z-index: -1;
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
      }
    }
    .search-container {
      .search-bar {
        right: 0;
        &::after {
          right: 20px;
        }
      }
    }
  }
  /****************************/
  @include media(tablet-sm) {
    .btns-container {
      width: 100%;
      right: 0;
      box-shadow: 0 -7px 10px rgba($color: $black, $alpha: 0.2);
      border-radius: 12px 12px 0 0;

      &::after {
        right: 50px;
      }
    }
    .nav-container {
      width: 100%;
      display: none;
      justify-content: center;
      position: absolute;
      z-index: 8;
      background-color: $white;
      top: calc(100% + 65px);
      right: 0;
      margin: 0;
      padding: 20px;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
      border-radius: 0 0 12px 12px;
      @include box-animate;
      flex-direction: column;
      gap: 20px;
      &.visible {
        display: flex;
      }
      a {
        margin: 0;
      }
    }
  }
  /****************************/
  @include media(phone-lg) {
    padding: 20px 15px;
    .search-container {
      position: static;
      margin-inline-end: 15px;
      .search-bar {
        width: 100%;
        right: 0;
        bottom: unset;
        top: 100%;
        &::after {
          right: 100px;
        }
      }
    }
    .cart-icon-container {
      margin-inline-end: 15px;
    }
  }
}
/****************************/
@include media(phone-sm) {
  /****************************/
}
