@import "global";

.rect-product-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  height: 180px;
  min-height: 180px;
  min-width: 180px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: $primary, $alpha: 0.7);
    transition: 0.3s ease-out;
  }
  &:hover {
    &::after {
      top: 100%;
    }
  }
  &:active {
    transform: scale(0.95);
  }
  &.active {
    &::after {
      top: 100%;
    }
  }
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .stars {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 4px;
    margin: 10px 12px;
    svg {
      color: $gray;
      font-size: 20px;
      filter: drop-shadow(0px 2px 1px rgba($color: $black, $alpha: 0.3));

      &.active {
        color: $yellow;
      }
    }
  }
  .info-container {
    position: relative;
    z-index: 2;
    text-overflow: ellipsis;
    margin-top: auto;
    .title {
      padding: 0px 10px;
      font-size: 16px;
      color: $white;
      text-shadow: 0px 1px 4px rgba($color: $black, $alpha: 0.6);
    }
    .description {
      padding: 5px;
      background-color: rgba($color: $primary, $alpha: 0.8);
      font-size: 10px;
      color: $white;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      max-height: 65px;
    }
  }
}
