@import "global";

.rect-slider-container {
  width: 95%;
  max-width: 95%;
  margin: auto;
  background: linear-gradient(-90deg, $lightBrown -10%, $brown 100%);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  .subcategory-item-container {
    background: transparent;
    box-shadow: none;
    flex-direction: column-reverse;
    height: max-content;
    z-index: 1;
    &:hover {
      box-shadow: none;
      transform: none;
    }
    .info-container {
      width: 400px;
      min-height: 220px;
    }
    .img-container {
      width: 100%;
      height: 280px;
    }
    .price {
      bottom: unset;
      top: 0;
      left: 0;
      right: unset;
    }
  }
  .rects-slider {
    justify-content: space-around;
    width: calc(100% - 450px);
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;

  }

  @include media(desktop-lg) {
  
  }
  @include media(desktop-sm) {
  
  }
  @include media(tablet-lg) {
  
  }
  @include media(tablet-sm) {
    .subcategory-item-container {
      padding-bottom: 200px;
      .stars {
        position: static;
        margin: 8px auto 0px;
        justify-content: center;
      }
      .info-container {
        width: 100%;
      }
    }
    .rects-slider {
      width: 95%;
      left: 20px;

    }
  
  }
  @include media(phone-lg) {
  
  }
  @include media(phone-sm) {
  
  }
}
